[package]
name = "kernel"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "kernel"
test = false
bench = false

[dependencies]
bootloader_api = "0.11"
x86_64 = "0.14"
spin = "0.9"
linked_list_allocator = "0.10"